<!DOCTYPE html>
<html>
    <body>
        <p>Sr(a) {{ record.party.name }} </p>

        <p>Adjunto a este correo podra ver la factura generada</p>

        <b>Factura No. {{ record.number }}</b>

        <p>Gracias por adquirir nuestros productos y servicios.<br>
            <p>--------------------------<br>
            <b>Tryton Assistant</b><br>
            Presik Technologies<br>
            La Ciudad<br>
            </p>
        </p>
    </body>
</html>
